{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block subnav %}
{{ parent() }}
{% endblock %}


{% block content %}
<div class="row mt-4">
    <div class="col-12">
        <div class="chart">
            <canvas id="doughnutChart"></canvas>
        </div>
    </div>
</div>
{# weird zone #}
<input type="hidden" id="valueFromTwig" value='
{"lists":
    [
        {% for list in lists %}
        {
            "user": "{{ list.owner.username }}",
            "listOfId":[
                {% for movieId in list|first.arrayOfMovieId %}
                "{{ movieId }}",
                {% endfor %}
                ""
            ]
        },
        {% endfor %}
        {}
    ]
}
'>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    
    
    <script src="{{ asset("js/paletteMaker.js") }}"></script>
    <script src="{{ asset("js/adminStatistic.js") }}"></script>
{% endblock %}