{% extends 'base.html.twig' %}

{% dump(user) %}
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-12 my-4 text-center">
            <h1>Admin edition of {{ user.username }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12 text-center">

                        {{ form_start(form) }}

                        {# First row (username and email) #}
                        <div class="row mb-4">

                            {# Username #}
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12">
                                    {{ form_row(form.username, {
                                        "attr": {"class":"form-control"},
                                        "label":"Username",
                                    }) }}
                                    </div>
                                </div>
                            </div>
                            {# End username #}

                            {# Email #}
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12">
                                    {{ form_row(form.email, {
                                        "attr": {"class":"form-control"},
                                        "label":"Email",
                                    }) }}
                                    </div>
                                </div>
                            </div>
                            {# End email #}

                        </div>
                        {# End first row #}

                        <hr>

                        {# Second row (role and ban status) #}
                        <div class="row mb-4">

                            {# Role #}
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <label for="role" class="required">Role</label>
                                        <select
                                            class="form-control"
                                            id="role"
                                            name="role"
                                        >
                                            {% if user.roles|first == "ROLE_USER" %}
                                            <option value="user"selected>User</option>
                                            <option value="admin">Admin</option>
                                            {% elseif user.roles|first == "ROLE_ADMIN" %}
                                            <option value="user">User</option>
                                            <option value="admin" selected>Admin</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {# End role #}

                            {# Status #}
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12 custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="status"
                                            name="status"
                                            {% if user.isBanned %}
                                            checked
                                            {% else %}
                                            {# Not check #}
                                            {% endif %}
                                        >
                                        <br>
                                        <label
                                            for="status"
                                            class="custom-control-label"
                                        >
                                            Is ban
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {# End status #}

                        </div>
                        {# End second row #}

                        <hr>

                        {# Third row (save and delete) #}
                        <div class="row">

                            {# Save #}
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <button
                                            value="submit"
                                            class="btn btn-primary"
                                        >
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {# End save #}

                            {# Delete #}
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            data-toggle="modal"
                                            data-target="#deleteAccountModal"
                                        >
                                            Delete acount
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {# End delete #}

                        </div>
                        {# End third row #}

                        {{ form_end(form) }}

                    </div>
                    {# End col #}
                </div>
                {# End row #}
            </div>
            {# End jumbotron #}


        </div>
    </div>









    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deletaAccountModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">

                <div class="modal-header">
                    <h5 class="modal-title" id="deletaAccountModalTitle">Deleting account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>The suspicious turkey warns you about this action, it will delete {{ user.username }} account and all it's movie lists</p>
                    <p>Are you sure?</p>
                    <p>🦃</p>
                </div>

                <div class="modal-footer">
                    <dic class="mx-auto d-inline-flex">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <form
                            action="{{ path("admin.delete_user", {id: user.id}) }}"
                            method="POST"
                        >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ user.id) }}">
                            <button
                                class="btn btn-danger"
                                value="submit"
                            >
                                Delete for sure
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>





</div>
{% endblock %}
