{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block subnav %}
{{ parent() }}
{% endblock %}


{% block content %}
<div class="row mt-4">
    <div class="col-12">





        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Quick actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>


                    {% if user.roles|first == "ROLE_USER" %}
                    <td>User</td>
                    {% elseif user.roles|first == "ROLE_ADMIN" %}
                    <td>Administrator</td>
                    {% endif %}

                    {% if user.id == app.user.id %}
                    <td>
                        it's you
                    </td>
                    {% else %}
                    <td>
                        <a
                            class="btn btn-secondary btn-sm"
                            href="{{ path("admin.edit_user", {id: user.id}) }}"
                        >
                            Edit
                        </a>



                        {#
                        {% if user.isBanned %}
                        <a class="btn btn-success btn-sm" href="#">Pardon</a>
                        {% else %}
                        <a class="btn btn-danger btn-sm" href="#">Ban</a>
                        {% endif %}
                        #}



                    </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
</div>
{% endblock %}