{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h1>Please sign in</h1>
        </div>
    </div>


    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <div class="row">
        <div class="col-12">

           <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12 text-center">

                        <form method="post">


                            <div class="row mb-4">
                                <div class="col-12">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                </div>
                            </div>


                            <div class="row mb-4">
                                <div class="col-12">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}




                            <div class="row mb-4">
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">
                                        Sign in
                                    </button>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-12">
                                    <a href="{{ path("user.register") }}">
                                        No account? Go to registration
                                    <a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}