{% extends "base.html.twig" %}

{% block body %}
<div class="container">


            {% if movieLists is empty %}
            <div class="row">
                <div class="col-12 mb-4 text-center">
                    <div class="jumbotron p-4">
                        <p>The suspicious turkey said there is no list on the website for now</p>
                        <p>🦃</p>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-12 mb-4 text-center">
                    <h1>Some public lists of the website</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4 text-center">
                    <div class="jumbotron p-4">
                        <div class="row">

                        {% for movieList in movieLists %}
                            <div class="col-4 mb-4">
                                <div class="card text-center">
                                    <img src="{{ movieList.image }}" class="card-img-top cardImg" alt="{{ movieList.title }}">
                                    <h5 class="card-title">{{ movieList.title }}</h5>

                                    {% if movieList.type == "" %}
                                    <h6 class="card-subtitle">({{ movieList.arrayOfMovieId|length }})</h6>
                                    {% else %}
                                    <h6 class="card-subtitle">{{ movieList.type }} ({{ movieList.arrayOfMovieId|length }})</h6>
                                    {% endif %}


                                    <h6 class="card-subtitle mt-2">by {{ movieList.owner.username }}</h6>
                                    <div class="card-body">
                                        <a
                                            class="btn btn-primary btn-block"
                                            href="{{ path("movie_list.show", {id: movieList.id}) }}"
                                        >
                                            Show
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


</div>




{% endblock %}