.cardImg {
    width: 200px;
    height: 200px;
}
.cardImgThumb {
    width: 100px;
    height: 100px;
}
.showImg {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 15px;
}
.noApiResult {
    color: red;
    font-weight: bold;
}




html {
    position: relative;
    min-height: 100%;
}
body {
margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    height: auto;
}








._popup {
    position: fixed;
    bottom: -70px;
    left: 10px;
    width: 50%;
    padding: 10px;
    z-index: 1;
}


.visibleLink {
    text-decoration: underline;
}

.subFooter {
    background-color:#24282C;   
}