{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 my-4 text-center">
            <div class="jumbotron p-4">
                <p>The suspicious turkey said this page does not exist</p>
                <a href="{{ path("index") }}">Go to home</a>
                <p>🦃</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}