{% extends 'base.html.twig' %}






{% block body %}
<style>
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        /*
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 250px);
        }
        #sidebarCollapse span {
            display: none;
        }
        */
    }

    p {
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    /*
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    */

    .wrapper {
        display: flex;
        width: 100%;    
        align-items: stretch;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        background: #343a40;
        color: #fff;
        transition: all 0.3s;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #sidebar .sidebar-header {
        padding: 20px;
        background: #484d53;
    }
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 2px solid #484d53;
    }
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    #sidebar ul li a:hover {
        color: #343a40;
        background: #fff;
    }
    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #484d53;
    }
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #484d53;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
</style>

<div class="wrapper">
    <!-- Sidebar -->
    {% block sidebar %}
    <nav
        id="sidebar"
        class=""
    >
        <div class="sidebar-header">
            <h3>Admin panel</h3>
        </div>

        <ul class="list-unstyled components">
            {#
            <p>Heading</p>
            #}
            <li>
                <a
                    href="#userSubmenu"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle"
                >
                    Manage users
                </a>
                <ul class="collapse list-unstyled" id="userSubmenu">
                    <li>
                        <a href="{{ path("admin.index_user") }}">List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a
                    href="#movieListSubmenu"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle"
                >
                    Manage movie lists
                </a>
                <ul class="collapse list-unstyled" id="movieListSubmenu">
                    <li>
                        <a href="{{ path("admin.index_list") }}">List</a>
                    </li>
                </ul>
            </li>
            {#
            <li>
                <a href="#">Default</a>
            </li>
            #}
            <li>
                <a href="{{ path("admin.index_statistic") }}">Statistics</a>
            </li>
        </ul>
        <p class="text-center">
            All Credits to <em>Ondrej</em> from <a class="visibleLink" href="https://bootstrapious.com/p/bootstrap-sidebar">Bootstrapious</a>
        </p>
        

    </nav>
    {% endblock %}



    <!-- Page Content -->
    <div id="content" class="container">

        {% block subnav %}
        <div class="row mt-4">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}            
    </div>
</div>   

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <!-- jQuery CDN - Slim version (=without AJAX)
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    -->
    <!-- Popper.JS
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    -->
    <!-- Bootstrap JS
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    -->
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>








    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                
                if ($(this).children().hasClass("fa-arrow-left")) {
                    $(this).children().removeClass("fa-arrow-left")
                    $(this).children().addClass("fa-arrow-right")
                } else if ($(this).children().hasClass("fa-arrow-right")) {
                    $(this).children().removeClass("fa-arrow-right")
                    $(this).children().addClass("fa-arrow-left")
                } else {

                }
                
            });
        });
    </script>
{% endblock %}