{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block subnav %}
{{ parent() }}
{% endblock %}


{% block content %}
<div class="row mt-4">
    <div class="col-12">




    </div>
</div>
{% endblock %}