{{ form_start(form) }}


    {# List information #}
    <div class="jumbotron p-4">
        
        <div class="row mb-4">
            <div class="col-6 text-center">
            {{ form_row(form.title, {
                "attr": {"class":"form-control"},
                "label":"List title",
            }) }}
            </div>
            <div class="col-6 text-center">
            {{ form_row(form.type, {
            "attr": {"class":"form-control"},
            "label":"Type of the list",
            }) }}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6 custom-control custom-checkbox">
            {{ form_widget(form.isPublic, {
                "attr": {"class":"custom-control-input"}
            }) }}
            <br>
            {{ form_label(form.isPublic, null, {
                "label":"Is the list public ? (see on website homepage)",
                "label_attr":{"class":"custom-control-label"}
            }) }}
            </div>
            <div class="col-6 text-center">
                <label for="movieListImage">Upload an image</label>
                <div class="custom-file">
                    <input
                        type="file"
                        class="custom-file-input"
                        id="movieListImage"
                        name="movieListImage"
                    >
                    <label class="custom-file-label" for="movieListImage">.png, .jpg</label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 text-center">
            {{ form_row(form.description, {
                "attr": {"class":"form-control"},
                "label":"Description of the list",
            }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button
                    class="btn btn-success btn-block"
                    value="submit"
                >
                    {{ button|default("save") }}
                </button>
            </div>
        </div>


    </div>
    {# End list information #}

    {# Movie list #}
    <div class="jumbotron p-4">
        <div class="row" id="rowFilmList" style="display: block;">
            <div class="col-12 text-center">
                <p class="m-0">The list is empty</p>
            </div>
        </div>
    </div>
    {# End movie list #}

    {# Search #}
    <div class="jumbotron p-4">

        {# Search form #}
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group">
                    <label for="searchMovie">Movies</label>
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="e.g. Blade Runner"
                            {#name="searchMovie"#}
                            id="searchMovie"
                            aria-describedby="searchButton"
                            value=""
                        >
                        <div class="input-group-append">
                            <button
                                class="btn btn-primary"
                                type="button"
                                id="searchButton"
                            >
                                Search
                            </button>
                            <button
                                class="btn btn-secondary"
                                type="button"
                                id="searchClear"
                            >
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End search form #}

        {# Count #}
        <div class="row" id="rowResultCount" style="display: none;">
            <div class="col-12 text-center">
                {# Will be filled with javascript #}
            </div>
        </div>
        {# End count #}

        {# Search result #}
        <div class="row mb-2" id="rowResultList" style="display: none;">
            <div class="col-12">
                {# Will be filled with JS search #}
            </div>
        </div>
        {# End search result #}

    </div>
    {# End search #}











    {#
    
    {{ form_row(form.arrayOfMovieId, {
        "required" : false,
    }) }}
    #}

    {% if listOfid is defined %}
        {# the listOfIf is defined #}
        <input
            type="hidden"
            name="hiddenMovieList" 
            id="hiddenMovieList"
            value="{{ listOfid }}"
        >
        <input
            type="hidden"
            name="hiddenMovieListName" 
            id="hiddenMovieListName"
            value="{{ listOfName }}"
        >
    {% else %}
        {# the listOfIf is not defined #}
        <input
            type="hidden"
            name="hiddenMovieList" 
            id="hiddenMovieList"
            value="null"
        >
    {% endif %}
    
{{ form_end(form) }}



