{% extends 'base.html.twig' %}

{% block body %}
{% set foo = app.flashes %}
{% if foo is not empty %}
    {% include "_popup.html.twig" with {
        "flash": foo
    } %}
{% else %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="text-center">List of {{ app.user.username }}</h1>
        </div>
    </div>



    <div class="row mb-4">
        <div class="col-12">
            <div class="jumbotron p-4">



                <div class="row mb-4">
                    <div class="col-12">
                        <a
                            class="btn btn-success btn-block"
                            href="{{ path("movie_list.new") }}"
                        >
                            Create a new Movie List
                        </a>
                    </div>
                </div>

                {% if movieLists is empty %}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>The suspicious turkey said you have no movie list yet</p>
                        <p>🦃</p>
                    </div>
                </div>
                {% else %}
                <div class="row">
                {% for movieList in movieLists %}
                    <div class="col-4 mb-3">

                        {# Define card color by the tag #}
                        {% if movieList.type == "Favorite" %}
                        <div class="card bg-success text-light text-center">
                        {% else %}
                        <div class="card text-center">
                        {% endif %}
                            <img src="{{ movieList.image }}" class="card-img-top cardImg" alt="{{ movieList.title }}">
                            <h5 class="card-title">{{ movieList.title }}</h5>

                            {% if movieList.type == "" %}
                            <h6 class="card-subtitle">({{ movieList.arrayOfMovieId|length }})</h6>
                            {% else %}
                            <h6 class="card-subtitle">{{ movieList.type }} ({{ movieList.arrayOfMovieId|length }})</h6>
                            {% endif %}

                            <div class="card-body">
                                <a
                                    class="btn btn-primary btn-block"
                                    href="{{ path("movie_list.show", {id: movieList.id}) }}"
                                >
                                    Show
                                </a>
                                <a
                                    class="btn btn-secondary btn-block"
                                    href="{{ path("movie_list.edit", {id: movieList.id}) }}"
                                >
                                    Edit
                                </a>
                                {% if movieList.type == "Favorite" %}
                                <button
                                    class="btn btn-danger btn-block mt-2 disabled"
                                >
                                    Delete
                                </button>
                                {% else %}
                                <form
                                    action="{{ path("movie_list.delete", {id: movieList.id}) }}"
                                    method="POST"
                                >
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ movieList.id) }}">
                                    <button
                                        class="btn btn-danger btn-block mt-2"
                                        value="submit"
                                    >
                                        Delete
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% endif %}



            </div>
        </div>
    </div>


</div>




{% endblock %}



{% block javascripts %}
{{ parent() }}
<script src="{{ asset("js/movieListIndex.js") }}"></script>
{% endblock %}