{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Creation of a list</h1>
            {{ include("movie_list/_form.html.twig", {form: form, button: "new"}) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("js/movieList.js") }}"></script>
{% endblock %}