{% extends "base.html.twig" %}
{% dump(movieListInfo) %}

{% block body %}
<div class="container py-4">
   

    {% if results is empty %}
    <div class="row">
        <div class="col-12 text-center">
            <p>The suspicious turkey say that there is no movie in this list</p>
            <p>🦃</p>
        </div>
    </div>






    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12">
                        <img class="showImg" src="{{ movieListInfo.image }}">
                        <h2>{{ movieListInfo.title }}</h2>
                        <h3>{{ movieListInfo.type }}</h3>
                        {% if count == "1" %}
                        <h4>{{ count }} movie in {{ movieListInfo.title }} list</h4>
                        {% else %}
                        <h4>{{ count }} movies in {{ movieListInfo.title }} list</h4>
                        {% endif %}
                        <br>
                        <p>{{ movieListInfo.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    


    <div class="row">
        <div class="col-12">
            <div class="jumbotron p-4">


                <div class="row">
                {% for result in results %}
                        <div class="col-4 mb-3">
                            <div class="card text-center">
                                <img src="{{ result.Poster }}" class="card-img-top cardImg" alt="{{ result.Title }}">
                                <h5 class="card-title">{{ result.Title }}</h5>
                                <h6 class="card-subtitle text-muted">{{ result.Type }} - {{ result.Year }}</h6>
                                <div class="card-body">
                                    <a href="{{ path("search.show", {imdbId: result.imdbID}) }}" class="btn btn-primary btn-block">See details</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}