{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block subnav %}
{{ parent() }}
{% endblock %}


{% block content %}
<div class="row mt-4">
    <div class="col-12">


        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Is public</th>
                </tr>
            </thead>
            <tbody>
            {% for list in lists %}
                <tr>
                    <th scope="row">{{ list.id }}</th>
                    <td>{{ list.title }}</td>
                    
                    
                    {% if list.type == "" %}
                    <td>(no type)</td>
                    {% else %}
                    <td>{{ list.type }}</td>
                    {% endif %}


                    <td>{{ list.owner.username }}</td>




                    {% if list.isPublic %}
                    <td>Public</td>
                    {% else %}
                    <td>Private</td>
                    {% endif %}



                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}