{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h1>Search a movie</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            {# Search #}
            <div class="jumbotron p-4">

                {# Search form #}
                <div class="row">
                    <div class="col-12 text-center">
                        <input type="hidden" id="favoritListId" value="{{ favoriteListId }}">
                        <form action="{{ path("search.index") }}" method="POST">
                            <label for="searchMovie">Movies</label>
                            <div class="input-group mb-3">




                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="e.g. {{ searchPostPlacholder }}"
                                    id="searchMovie"
                                    name="searchMovie"
                                    aria-describedby="searchButton"
                                    style="display: block;"
                                    value="{{ searchPost }}"
                                >
                                
                                
                                <input
                                    type="text"
                                    class="form-control col-2"
                                    placeholder="e.g. {{ searchYearPlacholder }}"
                                    id="searchMovieYear"
                                    name="searchMovieYear"
                                    value="{{ searchYear }}"
                                >



                                <select
                                    class="custom-select col-2"
                                    id="searchMovieTypeSelect"
                                    name="searchMovieTypeSelect"
                                    
                                >
                                    <option value="movie">Movie</option>
                                    <option value="series">Series</option>
                                    <option value="episode">Episode</option>
                                </select>





                                <div class="input-group-append">
                                    <button
                                        class="btn btn-primary"
                                        type="submit"
                                        id="searchButton"
                                    >
                                        Search
                                    </button>
                                    <button
                                        class="btn btn-secondary"
                                        type="button"
                                        id="searchClear"
                                    >
                                        Clear
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                {# End search form #}

                {% if results is empty %}
                {# Count #}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>The suspicious turkey will wait for you to type a search</p>
                        <p>🦃</p>
                    </div>
                </div>
                {% else %}
                <div class="row" id="rowResultCount">
                    <div class="col-12 text-center">
                        {% if count == "1" %}
                        <p>{{ count }} result for "{{ searchPost }}"</p>
                        {% else %}
                        <p>{{ count }} results for "{{ searchPost }}"</p>
                        {% endif %}
                    </div>
                </div>
                {# End count #}

                {# Search result #}
                <div class="row" id="rowResultList">
                {% for result in results %}
                    <div class="col-4 mb-4">
                        <div class="card text-center">
                            <img src="{{ result.Poster }}" class="card-img-top cardImg" alt="{{ result.Title }}">
                            <h5 class="card-title">{{ result.Title }}</h5>
                            <h6 class="card-subtitle">{{ result.Type }} - {{ result.Year }}</h6>
                            <div class="card-body">
                                <a href="{{ path("search.show", {imdbId: result.imdbID}) }}" class="btn btn-primary btn-block">See details</a>
                                {% if is_granted('ROLE_USER') %}


                                {% if result.isInFavList %}
                                <a
                                    style="color: #fff;"
                                    class="btn btn-danger btn-block removeFromFavList quickFav"
                                    id="{{ result.imdbID }}"
                                >
                                    Remove from Favorite
                                </a>
                                {% else %}
                                <a
                                    style="color: #fff;"
                                    class="btn btn-success btn-block addToFavList quickFav"
                                    id="{{ result.imdbID }}"
                                >
                                    Add to Favorite
                                </a>
                                {% endif %}


                                





                                {% else %}
                                    {# Do nothing #}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {# End search result #}


                {# Pagination #}
                <nav id="rowResultPanigation">
                    <ul class="pagination justify-content-center">
                        
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        
                        <li class="page-item">
                            <a class="page-link" href="
                                {{ path("search.index", {
                                    "searchMovie": searchPost,
                                    "searchMovieYear": searchYear,
                                    "searchMovieTypeSelect": "movie",
                                }) }}
                            ">Next</a>
                        </li>

                    </ul>
                </nav>
                <input type="hidden" name="pageNumber" value="2">
                {# End pagination #}
                {% endif %}

            </div>
            {# End search #}


        </div>
    </div>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("js/search.js") }}"></script>
{% endblock %}