{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div class="container py-4">



    <div class="row">
        <div class="col-12">
            <div class="jumbotron p-4">



                {% if result is empty %}
                <div class="row">
                    <div class="col-4">
                        <p>No data</p>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-12">
                        <img class="showImg" src="{{ result.Poster }}">
                        <h2>{{ result.Title }}</h2>
                        <h3>Released on: {{ result.Released }} ({{ result.Runtime }})</h3>
                        <h4>{{ result.Language }} - {{ result.Production }}</h4>
                        <br>
                        <p>
                            {{ result.Plot }}
                        </p>
                        <hr>
                        <h5 class="badge badge-secondary">Director: </h5>
                        <span>{{ result.Director }}</span><br>
                        <h5 class="badge badge-secondary">Type: </h5>
                        <span>{{ result.Type }}</span><br>
                        <h5 class="badge badge-secondary">Main actors: </h5>
                        <span>{{ result.Actors }}</span><br>
                        <hr>
                        {% if result.Ratings is empty %}
                            {# Do nothing #}
                        {% else %}
                        {% for rate in result.Ratings %}
                            <p>{{ rate.Source }}: <span class="badge badge-success">{{ rate.Value }}</span></p>
                        {% endfor %}
                        {% endif %}
                        {#
                        #}
                        {% dump(movieList) %}
                        {% if is_granted('ROLE_USER') %}
                        <hr>
                            <input type="hidden" id="movieId" value="{{ result.imdbID }}">
                            <input type="hidden" id="mobieListFilled" value="{{ movieListAlreadyFilled }}">
                            <div class="input-group">
                                <select
                                    class="custom-select"
                                    name="quickAddList"
                                >
                                {% for list in movieList %}
                                    <option value="{{ list.id }}" class="{{ list.isInList }}">
                                        Movie "{{ result.Title }}" to list "{{ list.title }}"
                                    </option>
                                {% endfor %}
                                </select>
                                <div class="input-group-append">


                                    
                                    <button
                                        class="btn btn-success addListButton addToList"
                                        type="button"
                                    >
                                        Add
                                    </button>



                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}



            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("js/movieShow.js") }}"></script>
{% endblock %}
