<div class="_popup">
{# 
    <div class="row">
        <div class="col-12">
#}             
            <div
                class="mb-0 alert alert-{{ flash|keys|first }}"
                role="alert"
            >
                <p class="m-0">
                    {{ flash|first|first }}
                    <i class="fa fa-times float-right" aria-hidden="true"></i>
                </p>
            </div>
{# 
        </div>
    </div>
#}             

</div>
