<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-dark">



                {# Website logo #}
                <a class="navbar-brand" href="{{ path("index") }}">{e}</a>
                

                {# Navbar button #}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                


                {# Navbar #}
                <div class="collapse navbar-collapse" id="navbarNav">


                    {# Left side #}
                    <ul class="navbar-nav float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("search.index") }}">Search</a>
                        </li>


                        



                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("movie_list.index") }}">My Lists</a>
                        </li>
                        {% else %}
                        {% endif %}
                    </ul>




                    {# Right side #}
                    <ul class="navbar-nav ml-auto">

                        {# Admin section #}

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item mr-2">
                            <a
                                class="nav-link"
                                href="{{ path("admin.index") }}"
                                style="color: #f00;"
                            >
                                Administration
                            </a>
                        </li>
                        {% endif %}

                        {# Connected section #}
                        {% if is_granted('ROLE_USER') %}                        
                        <div class="dropdown show">
                            <a
                                class="btn btn-secondary "
                                href="#"
                                role="button"
                                id="userLoggedDropdown"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                Hello {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userLoggedDropdown">
                                <a class="dropdown-item" href="{{ path("user.edit") }}">Settings</a>
                                <a class="dropdown-item" href="{{ path("app_logout") }}">Logout</a>
                            </div>
                        </div>



                        {# Anon section #}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_login") }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("user.register") }}">Register</a>
                        </li>
                        {% endif %}
                    </ul>






                </div>
            </nav>
        </header>


        {% block body %}
        {% endblock %}

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer class="page-footer bg-dark text-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="text-center py-1">
                            <a href="https://getbootstrap.com/">Bootstrap 4</a>
                        </div>
                        <div class="text-center pb-1">
                            <a href="https://jquery.com/">jQuery</a>
                        </div>
                        <div class="text-center pb-1">
                            <a href="https://bootstrapious.com/">Bootstrapious</a>
                        </div>


                        <div class="text-center pb-1">
                            <a href="https://www.chartjs.org/">Chart js</a>
                        </div>

                        <div class="text-center pb-1">
                            <a href="https://fontawesome.com/">Font awesome</a>
                        </div>
                        <div class="text-center pb-1">
                            <a href="https://www.omdbapi.com/">OMDb API</a>
                        </div>
                        <div class="text-center pb-1">
                            <a href="https://symfony.com/">Symfony 4</a>
                        </div>
                     

                    </div>
                </div>
                <div class="row subFooter">
                    <div class="col-12">

                        <div class="footer-copyright text-center py-3">2020 Symfony Rush - 
                            <a href="{{ path("index") }}"> My Movie List</a>
                        </div>

                    </div>
                </div>
            </div>
        </footer>


        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
