{% extends 'base.html.twig' %}


{% block body %}
<div class="container">

    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h1>Edit profil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12 text-center">

                        {{ form_start(form) }}
                        <div class="row mb-4">
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12">
                                    {{ form_row(form.username, {
                                        "attr": {"class":"form-control"},
                                        "label":"Username",
                                    }) }}
                            
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <button
                                            value="submit"
                                            class="btn btn-primary"
                                        >
                                            Save username
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-4">
                                    <div class="col-12">
                                    {{ form_row(form.email, {
                                        "attr": {"class":"form-control"},
                                        "label":"Email",
                                    }) }}
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <button
                                            value="submit"
                                            class="btn btn-primary"
                                        >
                                            Save email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row mb-4">
                            <div class="col-12">
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <label for="password" class="required">Password</label>
                                        <input
                                            type="text"
                                            name="password"
                                            id="password"
                                            class="form-control"
                                        >
                                    </div>
                                    <div class="col-6">
                                        <label for="confirmPassword" class="required">Confirm password</label>
                                        <input
                                            type="text"
                                            name="confirmPassword"
                                            id="confirmPassword"
                                            class="form-control"
                                        >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button
                                            value="submit"
                                            class="btn btn-primary"
                                        >
                                            Save new password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>

        </div>
    </div>






    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h1>Danger zone</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <button
                            type="button"
                            class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#deleteAccountModal"
                        >
                            Delete acount
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deletaAccountModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">

                <div class="modal-header">
                    <h5 class="modal-title" id="deletaAccountModalTitle">Deleting account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>The suspicious turkey warns you about this action, it will delete you account and all your movie lists</p>
                    <p>Are you sure?</p>
                    <p>🦃</p>
                </div>

                <div class="modal-footer">
                    <dic class="mx-auto d-inline-flex">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <form
                            action="{{ path("user.delete", {id: user.id}) }}"
                            method="POST"
                        >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ user.id) }}">
                            <button
                                class="btn btn-danger"
                                value="submit"
                            >
                                Delete for sure
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>





</div>
{% endblock %}
