{% extends 'base.html.twig' %}


{% block body %}
<div class="container">

    <div class="row">
        <div class="col-12 mb-4 text-center">
            <h1>Registration</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="jumbotron p-4">
                <div class="row">
                    <div class="col-12 text-center">
                        {{ form_start(form) }}
                        <div class="row mb-4">
                            <div class="col-12">
                            {{ form_row(form.username, {
                                "attr": {"class":"form-control"},
                                "label":"Username",
                            }) }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                            {{ form_row(form.email, {
                                "attr": {"class":"form-control"},
                                "label":"Email",
                            }) }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                            {{ form_row(form.password, {
                                "attr": {"class":"form-control"},
                                "label":"Password",
                            }) }}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <button
                                    value="submit"
                                    class="btn btn-primary"
                                >
                                    Register
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path("app_login") }}">
                                    Already an account? Go to Login
                                <a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
